<template>
  <div class="Clientes">
    <h1>Gestor de Clientes</h1>
    <div class="nested"><button v-on:click="cargarListaCliente">Listar Clientes</button></div>
    <div class="nested"><button v-on:click="irAAgregarCliente">Agregar Clientes</button></div>
  </div>
</template>


<script>
export default {
  name: "App",

  methods: {
    irAListaLibros: function() {
      console.log("error")
      this.$router.push({ name: "listarL" });
    },
    irAAgregarLibros: function() {
      console.log("error") 
      alert("error")
      this.$router.push({ name: "crearL" });
    },
    irAAgregarCliente: function() {
      this.$router.push({ name: "Crear Cliente" });
    },
    irAAgregarAdmin: function() {
      this.$router.push({ name: "Crear Admin" });
    },
    irAAgregarProducto: function() {
      this.$router.push({ name: "Crear Producto" });
    },
    cargarListaAdmin: function() {
      this.$router.push({ name: "Listar Admin" });
    },
    cargarListaCliente: function() {
      this.$router.push({ name: "Listar Clientes" });
    },
    cargarListaProducto: function() {
      this.$router.push({ name: "Listar Productos" });
    },
  },
};
         
</script>