<template>
<div class="logIn_user">
<div class="container_logIn_user">
<h2>Iniciar sesión</h2>

<form v-on:submit.prevent="processLogInUser" >
<input type="text" v-model="user.username" placeholder="Usuario">
<br>
<input type="password" v-model="user.password" placeholder="Contraseña">
<br>
<button type="submit">Iniciar Sesión</button>
</form>
</div>
</div>
</template>

<script>
import gql from "graphql-tag";
export default {
name: "LogIn",
data: function() {
return {
user: {
username: "",
password: "",
 },
 };
 },
methods: {
processLogInUser: async function() {
await this.$apollo
 .mutate({
mutation: gql`
 mutation($credentials: CredentialsInput!) {
 logIn(credentials: $credentials) {
 refresh
 access
 }
 }
 `,
variables: {
credentials: this.user,
 },
 })
 .then((result) => {
let dataLogIn = {
username: this.user.username,
token_access: result.data.logIn.access,
token_refresh: result.data.logIn.refresh,
 };
this.$emit("completedLogIn", dataLogIn);
 })
 .catch((error) => {
alert("ERROR 401: Credenciales Incorrectas.");
 });
 },
 },
}
</script>