<template>
  <div class="Usuarios">
    <h1>Gestor de Usuarios</h1>
    <div class="nested"><button v-on:click="irAListaUsuarios">Lista de Usuarios </button></div>
    <div class="nested"><button v-on:click="irAAgregarUsuarios">Agregar Usuarios</button></div>
  </div>
</template>


<script>
export default {
  name: "App",

  methods: {
    irAListaUsuarios: function() {
      console.log("error")
      this.$router.push({ name: "listarU" });
    },
    irAAgregarUsuarios: function() {
      console.log("error") 
      alert("error")
      this.$router.push({ name: "crearU" });
    },
    irAAgregarCliente: function() {
      this.$router.push({ name: "Crear Cliente" });
    },
    irAAgregarAdmin: function() {
      this.$router.push({ name: "Crear Admin" });
    },
    irAAgregarProducto: function() {
      this.$router.push({ name: "Crear Producto" });
    },
    cargarListaAdmin: function() {
      this.$router.push({ name: "Listar Admin" });
    },
    cargarListaCliente: function() {
      this.$router.push({ name: "Listar Clientes" });
    },
    cargarListaProducto: function() {
      this.$router.push({ name: "Listar Productos" });
    },
  },
};
         
</script>
