<template>
  <div class="signUp_user">
    <div class="container_signUp_user">
      <h2>Actualizar Producto</h2>

      <form v-on:submit.prevent="updateProduct">
        <input type="number" v-model="product.number" placeholder="Cantidad" />
        <br />

        <input type="number" v-model="product.price" placeholder="Precio" />
        <br />

        <input type="text" v-model="product.name" placeholder="Nombre" />
        <br />

        <input type="number" v-model="product.state" placeholder="Estado" />
        <br />

        <button type="submit">Actualizar Producto</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ActualizarProductos",

  data: function () {
    return {
      product: {
        number: "",
        price: "",
        name: "",
        state: "",
      },
    };
  },

  methods: {
    updateProduct: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let idProduct = this.$router.params.productId;
      axios
        .put("https://api-gateway-store.herokuapp.com/product/" + idProduct, this.product, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          let dataSignUp = {
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };

          this.$emit("completedProductUpdate", dataSignUp);
        })
        .catch((error) => {
          console.log(error);
          alert("Error en el resgistro.");
        });
    },
    verifyToken: function () {
      return axios
        .post(
          "https://api-gateway-store.herokuapp.com/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
};
</script>

<style>
.signUp_user {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_signUp_user {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUp_user h2 {
  color: #283747;
}

.signUp_user form {
  width: 70%;
}

.signUp_user input {
  height: 40px;
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid #283747;
}

.signUp_user button {
  width: 100%;
  height: 40px;

  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}

.signUp_user button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}
</style>