<template>
  <h2>Crear usuario</h2>

  <form>
    <input v-model="libro.nombre" placeholder="nombre" />
    <input v-model="libro.costo" placeholder="Identificación" />
    <button v-on:click="crearLibro">Crear</button>
  </form>
</template>

<script>
import axios from "axios";

export default {
  name: "CrearLibro",

  data: function() {
    return {
      libro: {
        nombre: "",
        costo: "",
      },
    };
  },

  methods: {
    crearLibro: function() {
      axios
        .post("https://moonkeybooks-mintic.herokuapp.com/libro/", this.libro)
        .then((respuesta) => {
          this.libro.nombre = "";
          this.libro.costo = "";
          //alert(respuesta.data.mensaje);
          alert("Usuario creado correctamente");
        })
        //.catch((error) => {
          //alert("Error creando el usuario");
          //console.log(error);
        //});
    },
  },
};
</script>

<style></style>
