

<template>
  <h2>Lista de Usuarios</h2>
 
  <div v-for="libros in lista_libros" class="cuadro_libros">
    <p>{{ libros.nombre }}</p>
    <p>{{ libros.costo }}</p>
    <button v-on:click="borrarLibros(libros.id)">eliminar</button>
    <button v-on:click="irAActualizarlibros(libros.id)">actualizar</button>
    
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ListaLibros",

  data: function() {
    return {
      lista_libros: [],
    };
  },

  methods: {
    borrarLibros: function(id) {
      axios
        .delete("https://moonkeybooks-mintic.herokuapp.com/libro/" + id)
        .then((respuesta) => {
          alert("El usuario se eliminó exitosamente ");
          this.actualizarLista();
        })
        .catch((error) => {
          alert("Error borrando el usuario");
          console.log(error);
        });
    },

    irAActualizarlibros: function(libros) {
      this.$router.push({
        name: "actualizarL",
        params: {
          id: libros.id,
          nombre: libros.nombre,
          costo: libros.cedula,
        },
      });
    },

    actualizarLista: function() {
      axios
        .get("https://moonkeybooks-mintic.herokuapp.com/libro/")
        .then((respuesta) => {
          this.lista_libros = respuesta.data;
        })
        .catch((error) => {
          alert("Error obteniendo los usuarios");
          console.log(error);
        });
    },
  },

  created: function() {
    this.actualizarLista();
  },
};
</script>

<style>
.cuadro_libros {
  border: 1px solid;
  width: 30%;
  background-color: antiquewhite;
  margin: auto;
  text-align: left;
}

body{
    text-align: center;
}
</style>
