<template>
  <div id="Historial">
    <h2>Usuarios Admin</h2>
    <div class="container-table">
      <table>
        <tr>
          <th>Nombre</th>
          <th>Contraseña</th>
          <th>Rol</th>
        </tr>
        <tr v-for="admin in adminLista" :key="admin.id">
          <td>{{ admin.name }}</td>
          <td>{{ admin.password }}</td>
          <td>{{ admin.role }}</td>
        </tr>
      </table>
      <button v-on:click="borrarAdmin(admin.id)">eliminar</button>
      <button v-on:click="cargarActualizarAdmin(admin.id)">actualizar</button>
      <router-view></router-view>
    </div>
  </div>
</template>


<script>
export default {
  name: "ListaAdmin",
  data: function () {
    return {
      adminLista: [],
    };
  },
  methods: {
    getAdminList: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");

      axios
        .get(`https://api-gateway-store.herokuapp.com/user`, {
          headers: { Authorization: `Bearer ${token}` },
        })

        .then((result) => {
          this.adminLista = result.data;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function () {
      return axios
        .post(
          "https://api-gateway-store.herokuapp.com/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    borrarAdmin: function(id) {
      axios
        .delete("https://api-gateway-store.herokuapp.com/user/" + id)
        .then((respuesta) => {
          alert("El usuario se eliminó exitosamente ");
          this.getClientList();
        })
        .catch((error) => {
          alert("Error borrando el usuario");
          console.log(error);
        });
    },
    cargarActualizarAdmin: function(id){
        this.$router.push({ name: "Actualizar Admin", params: { adminId: id} });
    },
  },
  created: function () {
    // this.methods.getAdminList;
  },
};
</script>


<style>
#Historial {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#Historial .container-table {
  width: 50%;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#Historial table {
  width: 100%;
  border-collapse: collapse;

  border: 1px solid rgba (0, 0, 0, 0.3);
}
#Historial table td,
#Historial table th {
  border: 1px solid #ddd;

  padding: 8px;
}
#Historial table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#Historial table tr:hover {
  background-color: #ddd;
}
#Historial table th {
  padding-top: 12px;
  padding-bottom: 12px;

  text-align: left;
  background-color: crimson;

  color: white;
}
#Historial > h2 {
  color: #283747;
  font-size: 25px;
}
#Historial .container {
  padding: 30px;
  border: 3px solid rgba (0, 0, 0, 0.3);

  border-radius: 20px;

  margin: 5% 0 1% 0;
}
#Historial .container h2 {
  font-size: 25px;

  color: #283747;
}
#Historial .container span {
  color: crimson;
  font-weight: bold;
}
</style>